*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* inizio proprietà css per header */
 header {
    height: 15vh;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 30%;
  }

  header img {
    margin-top: 2%;
    height: 80px;
    width: 150px;
    margin-left: 3%;
  }

/* fine proprietà CSS per header */

/* parte centrale */

  main {
    width: 80%;
    margin: auto;
    margin-top: 8px;
  }

  main h4,h6 {
    color: grey;
  }

  main .aqua {
    color: aqua;
  }

  main .highlighter {
   background-color: yellow;
  }

ul {
    margin : 20px 15px; 
}

/* proprietà tabella */

table{
    width: 100%;
    border-spacing : 0; 
    font-size 15px;
    text-align: left; 
    table-layout: fixed;
}
thead{
    background-color: #20A9E5;
    color: white;
}

.first-column {
    width: 30%;
    background-color: #B1E5F2;
}

.center-column {
    width: 30%;
}

.last-column {
    width: 40%;
    background-color: #B1E5F2;
}

/* fine tabella  */

/* parte finale due immagini */

footer {
    width: 80%;
    margin: auto;
}

footer h4 {
    color: grey;
}

.prima-immagine{
    margin-top: 10px;
    background-image: url(../img/monitor.jpg);
    background-position: center;
    width: 210px;
    height: 120px; 
}

footer span {
    color: white;
    font-size: 18px;
    padding-top: 15px;
}

.seconda-immagine{
    margin-top: 10px;
    background-image: url(../img/graph.jpg);
    background-position: center;
    width: 210px;
    height: 120px; 
    margin-bottom: 10px;
}
